{% extends "user/base.html" %}

{% block head %}
{{super()}}
<title>用户注册</title>
{% endblock %}

{% block formtitle %}注册{% endblock formtitle %}

{% block page_content %}
<form role="form"  method="post">
    {{form.hidden_tag()}}
    <div class="form-group">
        {{form.email.label}}<br>
        {{form.email(class="form-control")}}
        {% for error in form.errors.email %}
        <div style='color:red;'>{{error}}</div>
        {% endfor %}
    </div>

    <div class="form-group">
        {{form.username.label}}<br>
        {{form.username(class="form-control")}}
        {% for error in form.errors.username %}
        <div style='color:red;'>{{error}}</div>
        {% endfor %}
    </div>

    <div class="form-group">
        {{form.password.label}}<br>
        {{form.password(class="form-control")}}
        {% for error in form.errors.password %}
        <span style='color:red;'>{{error}}</span>
        {% endfor %}
    </div>

    <div class="form-group">
        {{form.password2.label}}<br>
        {{form.password2(class="form-control")}}
    </div>

    <div class="form-group">
        <div class="container" style="margin:0 padding:0 auto;">
            <div class="row">
                <div class="col-sm-1">
                    {{form.submit(class="btn btn-primary btn-info btn-block")}}
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-1"><a href="{{url_for('user.login')}}" class="btn btn-primary btn-info">直接登录</a>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
    </div>
</form>
{{email}}
{% endblock page_content %}


