<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
</head>
<br><br><br><br><br><br><br><br>
<h3 align="center">注册</h3>
<div class="container" style="margin:0 auto;">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form role="form" method="post">
                <input id="csrf_token" name="csrf_token" type="hidden"
                       value="IjQ3ZWI5YzU0ODQzMWU5NGJjYzkxZGVlZmI0MGY2MDdlMzc2MGZkZjgi.C_iYTA.eSDQ5BHK4S3V068dmPEmjoTWSgU">
                <div class="form-group">
                    <label for="email">邮箱</label><br>
                    <input class="form-control" id="email" name="email" type="text" value="1@1.com">

                </div>

                <div class="form-group">
                    <label for="username">用户名</label><br>
                    <input class="form-control" id="username" name="username" type="text" value="1751661678@qq.com">

                </div>

                <div class="form-group">
                    <label for="password">密码</label><br>
                    <input class="form-control" id="password" name="password" type="password" value="">

                </div>

                <div class="form-group">
                    <label for="password2">确认密码</label><br>
                    <input class="form-control" id="password2" name="password2" type="password" value="">
                </div>

                <div class="form-group">
                    <div class="container" style="margin:0 padding:0 auto;">
                        <div class="row">
                            <div class="col-sm-1">
                                <input id="submit" name="submit" type="submit" value="注册">
                            </div>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-1"><a href="/user/login" class="btn btn-primary btn-info">直接登录</a>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
</html>